<div id="<%= dom_id recipe %>">
  <p>
    <%# <strong>Name:</strong> %>
     <%= link_to recipe.name, recipe %>
    <%#= recipe.name %>
  </p>

  <%# <p> %>
    <%# <strong>Preparation time:</strong> %>
    <%#= recipe.preparation_time %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>Cook time:</strong> %>
    <%#= recipe.cook_time %>
  <%# </p> %>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <%# <p> %>
    <%# <strong>Public:</strong> %>
    <%#= recipe.public %>
  <%# </p> %>

  <%# <p> %>
    <%# <strong>User:</strong> %>
    <%#= recipe.user_id %>
  <%# </p> %>

</div>
