<div class="container">
  <p style="color: green"><%= notice %></p>

  <div id="recipes" class="mt-5">
    <% @recipes.each do |recipe| %>
        <%= render recipe %>
      </a>
    <% end %>
  </div>

  <%= link_to "New recipe", new_recipe_path %>
</div>
