<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
  <table>
    <tr>
      <th>Food</th>
      <th>Measurement unit</th>
      <th>Unit price</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
    <% @foods.each do |food| %>
      <%= render food %>
      <%# <p> %>
        <%#= link_to "Show this food", food %>
      <%# </p> %>
    <% end %>
  </table>
</div>

<%= link_to "New food", new_food_path %>
