<h1>Editing recipe food</h1>

<%#= render "form", recipe_food: @recipe_food %>
<div>
  <%= form_with(model: [@recipe, @recipe_food]) do |form| %>
    <div>
      <%= form.label :quantity, style: "display: block" %>
      <%= form.number_field :quantity %>
    </div>
    <div>
      <%= form.submit "Modify ingredent" %> 
    </div>
  <% end %>
</div>

<%# <br> %>

<%# <div> %>
  <%#= link_to "Show this recipe food", @recipe_food %> |
  <%#= link_to "Back to recipe foods", recipe_foods_path %>
<%# </div> %>
