* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 20px;
  align-items: center;
  width: 100%;
  margin: 5px 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 800;
}
