* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 20px;
  align-items: center;
  width: 100%;
  margin: 5px 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 800;
}

#foods {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#foods table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid black;
}

#foods table tbody {
  width: 100%;
}

.shopping-table tr td,
.shopping-table tr th {
  border: 1px solid black;
  width: 33%;
}

.ingredients-table tr td,
.ingredients-table tr th {
  border: 1px solid black;
  width: 25%;
  text-align: center;
}

#foods table tr td,
#foods table tr th {
  width: 20%;
  text-align: center;
  border: 1px solid black;
}

#recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.recipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border: 1px solid black;
  padding: 10px;
}

.recipe-name-container {
  width: 40%;
}

.recipe p {
  text-align: left;
  width: 40%;
}

.public-page,
.shopping-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.public-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.public-item {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
}

.shopping-table {
  width: 50%;
  border: 1px solid black;
}

.add-food-btn,
.add-recipe-btn {
  display: flex;
  justify-content: flex-end;
  margin: 50px 150px;
}

.add-food-link,
.add-recipe-link {
  border: 2px solid black;
  padding: 8px 15px;
  color: black;
  font-weight: 900;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
}

.recipe-show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  gap: 24px;
  margin-bottom: 50px;
}

.recipe-show-title {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
}

.recipe-show-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  gap: 30px;
}

.recipe-show-btn {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.recipe-show-btn a {
  width: 50%;
}

.public-private-btn {
  display: flex;
  justify-content: space-between;

  /* width: 75%; */
}

.ingredients-table {
  width: 60%;
  border: 1px solid black;
}

.ingredient-btns {
  display: flex;
  justify-content: space-between;
}
